{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<section>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header border-danger">
          <h4>Set New Password</h4>
        </div>
        <div class="card-body">
          <form action="" method="POST" class="mt-4">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-grid gap-2 mt-4">
              <button type="submit" class="btn btn-lg btn-danger mb-3">Set Password</button>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}