{% extends "base.html" %}

{% block body %}
<section>
  <div class="row">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, architecto.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aperiam fugit a unde, exercitationem accusantium, ipsa labore aspernatur odio facere saepe ut nihil magnam. Nemo soluta atque labore repellendus, alias aliquam sit, modi inventore sint, laudantium earum magni cum ex mollitia? Sed voluptas incidunt dolorem nisi necessitatibus dolor quisquam quis?</p>
    <div class="col-lg-8 mt-5 mb-5">
      <h4>Lorem ipsum dolor sit.</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur minima dolor, sit delectus eius dolore nam explicabo? Reiciendis, sunt repudiandae!</p>
      <button class="btn btn-danger btn-lg">Get Started</button>
    </div>
    <div class="col-lg-4">
      <ul class="list-group border-danger">
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
        <li class="list-group-item list-group-item-danger">Lorem, ipsum dolor.</li>
      </ul>
    </div>
  </div>
</section>

{% endblock body %}