{% extends "base.html" %}

{% block body %}

<section class="section">

  <div class="row justify-content-center mt-5">

  <div class="d-flex justify-content-between">
    <h4>{{ category }}</h4>
    {% comment %} <a href="{% url 'lead:lead-create' %}" class="btn btn-danger">Create New Lead</a> {% endcomment %}
  </div>

  <hr class="mt-2 mb-2">
    <div class="col-md-8">
    <table class="table table-hover table-bordered border-danger mt-4">
        <thead class="bg-danger text-white">
            <tr>
                <th>Leads</th>
                <th>Agent</th>
            </tr>
        </thead>
        <tbody class="text-primary">
            {% for lead in category.leads.all %}
            <tr>
                <td><a class="text-primary" href="{{ lead.get_absolute_url }}">{{ lead }}</a></td>
                <td>{{ lead.agent }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</section>

{% endblock body %}