{% extends "base.html" %}

{% block body %}

<section class="section">

  <div class="row mt-5">

  <div class="d-flex justify-content-between">
    <h4>Leads</h4>
    <a href="{% url 'lead:lead-create' %}" class="btn btn-danger">Create New Lead</a>
  </div>

  <hr class="mt-4 mb-5">

    {% for lead in leads %}
    <div class="col-md-3">
      <div class="card mb-3">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
          {% if lead.category %}
            <span class="badge bg-danger mb-2">{{ lead.category.name }}</span>
          {% else %}
            <span class="badge bg-secondary mb-2">Uncategorised</span>
          {% endif %}
          <img src="" alt="">
          <h5>{{ lead.first_name|capfirst }} {{ lead.last_name|capfirst }}</h5>
          <p>{{ lead.description }}</p>
          <a class="stretched-link" href="{{ lead.get_absolute_url }}">View Detail <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if unassigned_list.exists %}
  <div class="row mt-5">

  <div class="d-flex justify-content-start">
    <h4>Unassigned Leads</h4>
  </div>

  <hr class="mt-4 mb-5">

    {% for lead in unassigned_list %}
    <div class="col-md-3">
      <div class="card mb-3">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
          {% if lead.category %}
            <span class="badge bg-danger mb-2">{{ lead.category.name }}</span>
          {% else %}
            <span class="badge bg-secondary mb-2">Uncategorised</span>
          {% endif %}
          <img src="" alt="">
          <h5>{{ lead.first_name|capfirst }} {{ lead.last_name|capfirst }}</h5>
          <p>{{ lead.description }}</p>
          <a class="stretched-link" href="{% url 'lead:agent-assign' lead.pk %}">Assign Agent -></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</section>

{% endblock body %}