{% extends "base.html" %}

{% block body %}
<section>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              {% if lead.category %}
                <span class="badge bg-danger mb-2">
                  <a class="text-white" href="{% url 'lead:category-detail' lead.category.id %}">
                    {{ lead.category.name }}
                  </a>
                </span>
              {% else %}
                <span class="badge bg-secondary mb-2">Uncategorised</span>
              {% endif %}
              <div class="d-flex justify-content-between">
                <h4>{{ lead.first_name|capfirst }} {{ lead.last_name|capfirst }}</h4>
                <a href="{{ lead.get_update_url }}" class="">Edit</a>
              </div>
              <p>{{ lead.description }}</p>
              <table class="table table-hover">
                <tr>
                  <th>Age</th>
                  <td>{{ lead.age }}</td>
                </tr>
                <tr>
                  <th>Phone Number</th>
                  <td>{{ lead.phone_number }}</td>
                </tr>
                <tr>
                  <th>Age</th>
                  <td>{{ lead.email }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}